:root {

    /* bg colors */
    --bg-primary-color: #1B3C53;
    --bg-secondary-color: #234C6A;
    --bg-active-color: #456882;
    --bg-danger-color: #D2C1B6;
    --bg-success-color: rgb(87, 240, 87);

    /* text colors  */
    --text-primary-color: #dbd8d1;
    --text-secondary-color: #cccdc6;
    --text-tertiary-color: #bcc1ba;
    --text-active-color: #222831;
    
    /* paddings */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 3rem;

    /* gutter */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    /* margins */
    --margin-sm: 0.5rem;
    --margin-m: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-xxl: 3rem;

    /* font sizes */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;

    /* border radius */
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-xxl: 0.5rem;



}